.title {
  font-style: 30px;
  font-weight: bold;
}

.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  .info {
    margin-left: 10px;
    .name {
      font-size: 14px;
      font-weight: bold;
    }
    .date {
      font-size: 12px;
      color: #8a919f;
      display: flex;
      div {
        margin-right: 10px;
      }
      a {
        color: #0070f3;
        text-decoration: none;
      }
    }
  }
}

.divider {
  margin: 10px 0;
}

.comment {
}

.enter {
  display: flex;
  // align-items: center;
  .content {
    width: 100%;
    margin-left: 20px;
    button {
      margin-top: 20px;
    }
  }
}

.display {
  margin-top: 60px;
  .warpper {
    margin-bottom: 40px;
    .user {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      .info {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: 100%;
        .name {
          font-size: 16px;
          font-weight: bold;
        }
        .date {
          font-size: 12px;
          color: #8a919f;
          display: flex;
          a {
            color: #0070f3;
            text-decoration: none;
          }
        }
        .content {
          margin-top: 10px;
          font-size: 14px;
          line-height: 1.5;
          color: #515767;
        }
      }
    }
  }
}
