.title {
  font-style: 30px;
  font-weight: bold;
}

.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  .info {
    margin-left: 10px;
    .name {
      font-size: 14px;
      font-weight: bold;
    }
    .date {
      font-size: 12px;
      color: #8a919f;
      display: flex;
      div {
        margin-right: 10px;
      }
      a {
        color: #0070f3;
        text-decoration: none;
      }
    }
  }
}

.markdown-body {
  // 列表样式默认样式
  ul {
    list-style: initial;
    padding-left: 20px;
    li {
      margin-bottom: 10px;
    }
  }
}
